
@{
    ViewBag.Title = "ALERT_1010";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ALERT_1010_Ctrl" id="content">
    <div class="row">
        <div class="col-sm-6">

            <h4 class="row header smaller lighter orange">
                <span class="col-sm-8">
                    <i class="ace-icon fa fa-bell"></i>
                    <span ng-bind="document.REQUEST.DOCTYPENAME"></span>
                </span><!-- /.col -->
            </h4>

            <div class="profile-user-info profile-user-info-striped">

                <!--เลขที่ใบคำร้อง-->
                <div class="profile-info-row">
                    <div class="profile-info-name">เลขที่ใบคำร้อง </div>

                    <div class="profile-info-value">
                        <span class="editable" ng-bind="document.REQUEST.REQID"></span>
                    </div>
                </div>

                <!--เลขที่สัญญา-->
                <div class="profile-info-row">
                    <div class="profile-info-name">เลขที่สัญญา </div>

                    <div class="profile-info-value">
                        <span class="editable" ng-bind="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTAL_DOCNO"></span>
                    </div>
                </div>

                <!--ชื่อสัญญาฉบับที่-->
                <div class="profile-info-row">
                    <div class="profile-info-name">สัญญาฉบับที่ </div>

                    <div class="profile-info-value">
                        <span class="editable" ng-bind="document.REQUEST.DOCNO"></span>
                    </div>
                </div>

                <!--ประเภทสินทรัพย์-->
                <div class="profile-info-row">
                    <div class="profile-info-name">ประเภทสินทรัพย์ </div>

                    <div class="profile-info-value">
                        <span class="editable" ng-bind="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPE"></span>
                    </div>
                </div>

                <!--รหัสผู้ให้เช่า-->
                <div class="profile-info-row">
                    <div class="profile-info-name">รหัสผู้ให้เช่า </div>

                    <div class="profile-info-value">
                        <span class="editable" ng-bind="document.DOCUMENT_VEHICLERENTAL.LESSOR_COSTCENTER"></span>
                    </div>
                </div>

                <!--ชื่อผู้ให้เช่า-->
                <div class="profile-info-row">
                    <div class="profile-info-name">ชื่อผู้ให้เช่า </div>

                    <div class="profile-info-value">
                        <span class="editable" ng-bind="document.DOCUMENT_VEHICLERENTAL.LESSORNAME_TH"></span>
                    </div>
                </div>

                <!--วันที่ทำสัญญา-->
                <div class="profile-info-row">
                    <div class="profile-info-name">วันที่ทำสัญญา </div>

                    <div class="profile-info-value">
                        <span class="editable" ng-bind="document.REQUEST.BCDOC_CREATEDATE"></span>
                    </div>
                </div>

                <!--กำหนดชำระค่าเช่าแต่ละเดือนภายในวันที่-->
                <div class="profile-info-row">
                    <div class="profile-info-name">กำหนดชำระค่าเช่าแต่ละเดือนภายในวันที่ </div>

                    <div class="profile-info-value align-middle">
                        <span class="editable" ng-bind="document.DOCUMENT_VEHICLERENTAL.PAYMENTOUTWITHINDATE"></span>
                    </div>
                </div>

                <!--กำหนดการยกเลิก-->
                <div class="profile-info-row" ng-show="document.REQUEST.REVISIONTYPE == 3">
                    <div class="profile-info-name">กำหนดการยกเลิก </div>

                    <div class="profile-info-value">
                        <span class="editable" ng-bind="document.REQUEST.BCDOC_CANCELDATE"></span>
                    </div>
                </div>

                <!--หมายเหตุ-->
                <div class="profile-info-row">
                    <div class="profile-info-name">หมายเหตุ </div>

                    <div class="profile-info-value">
                        <span class="editable" ng-bind="document.REQUEST.REMARKS"></span>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-6">

            <div class="space-6"></div>

            <!--รายละเอียดการโอนเงิน-->
            <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter">
                        <i class="ace-icon fa fa-star orange"></i>
                        รายละเอียดการโอนเงิน
                    </h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <table class="table table-bordered table-striped">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <th class="center">ชื่อผู้รับเงิน</th>
                                    <th class="center">ธนาคารที่รับเงิน</th>
                                    <th class="center">สาขา</th>
                                    <th class="center">เลขที่บัญชี</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td ng-bind="document.DOCUMENT_VEHICLERENTAL.RECEIVEPERSONINFO.RECEIVEPERSONNAME == null ? 'ไม่ได้ระบุ' : document.DOCUMENT_VEHICLERENTAL.RECEIVEPERSONINFO.RECEIVEPERSONNAME"></td>
                                    <td ng-bind="document.DOCUMENT_VEHICLERENTAL.RECEIVEPERSONINFO.BANKNAME == null ? 'ไม่ได้ระบุ' : document.DOCUMENT_VEHICLERENTAL.RECEIVEPERSONINFO.BANKNAME"></td>
                                    <td ng-bind="document.DOCUMENT_VEHICLERENTAL.RECEIVEPERSONINFO.BANKBRANCHNAME == null ? 'ไม่ได้ระบุ' : document.DOCUMENT_VEHICLERENTAL.RECEIVEPERSONINFO.BANKBRANCHNAME"></td>
                                    <td ng-bind="document.DOCUMENT_VEHICLERENTAL.RECEIVEPERSONINFO.BANKACCOUNTNO == null ? 'ไม่ได้ระบุ' : document.DOCUMENT_VEHICLERENTAL.RECEIVEPERSONINFO.BANKACCOUNTNO"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!-- /.widget-main -->
                </div><!-- /.widget-body -->
            </div><!-- /.widget-box -->
            <!--รายละเอียดการตั้งค่าแจ้งเตือน-->
            <div class="widget-box transparent">
                <div class="widget-header widget-header-flat">
                    <h4 class="widget-title lighter">
                        <i class="ace-icon fa fa-bell orange"></i>
                        รายละเอียดการตั้งค่าแจ้งเตือน
                    </h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <table class="table table-bordered table-striped">
                            <thead class="thin-border-bottom">
                                <tr>
                                    <th class="center">ประเภทการแจ้งเตือน</th>
                                    <th class="center">การตั้งค่า</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>สัญญาเช่ารถหมดอายุ</td>
                                    <td ng-bind="document.REQUEST.NOTICEDISPLAY_EXPIRE"></td>
                                </tr>
                                <tr ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">
                                    <td>กรมธรรม์หมดอายุ</td>
                                    <td ng-bind="document.REQUEST.NOTICEDISPLAY_INSURANCE"></td>
                                </tr>
                                <tr ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">
                                    <td>พ.ร.บ.หมดอายุ</td>
                                    <td ng-bind="document.REQUEST.NOTICEDISPLAY_CARACT"></td>
                                </tr>
                                <tr ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">
                                    <td>ภาษีรถยนต์หมดอายุ</td>
                                    <td ng-bind="document.REQUEST.NOTICEDISPLAY_VEHICLETAX"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

        <!-- รายละเอียดสินทรัพย์ -->
        <div class="col-sm-12">
            <h4 class="row header smaller lighter blue">
                <span class="col-xs-6"><i class="ace-icon fa fa-automobile orange"></i> รายละเอียดสินทรัพย์ </span><!-- /.col -->

            </h4>

            <!-- #section:elements.accordion -->
            <div id="accordion" class="accordion-style1 panel-group">
                <div ng-repeat="asset in document.DOCUMENT_VEHICLERENTAL.ASSETINFOS">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{asset.ASSETINFOID}}">
                                    <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                    &nbsp; สินทรัพย์ชิ้นที่ {{$index + 1}} : {{document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId ? asset.VEHICLEPLATEFULLNAME : asset.ENGINE_NUMBER}}
                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse in" id="collapse{{asset.ASSETINFOID}}">
                            <div class="panel-body">
                                <div class="col-sm-6">

                                    <!--รายละเอียดเกี่ยวกับรถ-->
                                    <h4 class="row header smaller lighter blue">
                                        <span class="col-sm-8">
                                            <i class="ace-icon fa fa-bookmark orange"></i>
                                            <span class="">รายละเอียดเกี่ยวกับรถ</span>
                                        </span><!-- /.col -->
                                    </h4>

                                    <div class="profile-user-info profile-user-info-striped">

                                        <!--ยี่ห้อ/รุ่น-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">ยี่ห้อ/รุ่น </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.MODEL"></span>
                                            </div>
                                        </div>

                                        <!--น้ำหนักรถ (ซีซี)-->
                                        <div class="profile-info-row" ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">
                                            <div class="profile-info-name">น้ำหนักรถ (ซีซี) </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.ENGINE_SIZE"></span>
                                            </div>
                                        </div>

                                        <!--สีรถ-->
                                        <div class="profile-info-row" ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">
                                            <div class="profile-info-name">สีรถ </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.VEHICLE_COLOR"></span>
                                            </div>
                                        </div>

                                        <!--จำนวนที่นั่ง-->
                                        <div class="profile-info-row" ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">
                                            <div class="profile-info-name">จำนวนที่นั่ง </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.VEHICLE_SEAT"></span>
                                            </div>
                                        </div>

                                        <!--หมายเลขเครื่องยนต์-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">หมายเลขเครื่องยนต์ </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.ENGINE_NUMBER"></span>
                                            </div>
                                        </div>

                                        <!--หมายเลขตัวถัง-->
                                        <div class="profile-info-row" ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">
                                            <div class="profile-info-name">หมายเลขตัวถัง </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.VEHICLEBODY_NUMBER"></span>
                                            </div>
                                        </div>

                                        <!--ทะเบียนรถ-->
                                        <div class="profile-info-row" ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">
                                            <div class="profile-info-name">ทะเบียนรถ </div>

                                            <div class="profile-info-value align-middle">
                                                <span class="editable" ng-bind="asset.VEHICLEPLATEFULLNAME"></span>
                                            </div>
                                        </div>

                                        <!--ประเภทป้ายทะเบียนรถ-->
                                        <div class="profile-info-row" ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">
                                            <div class="profile-info-name">ประเภทป้ายทะเบียนรถ </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.VEHICLEPLATE"></span>
                                            </div>
                                        </div>

                                        <!--หมายเลขบัตรฟลีตการ์ด-->
                                        <div class="profile-info-row" ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">
                                            <div class="profile-info-name">หมายเลขบัตรฟลีตการ์ด </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.FLEETCARDNUMBER"></span>
                                            </div>
                                        </div>

                                        <!--วงเงินการใช้บัตรฟลีต การ์ด-->
                                        <div class="profile-info-row" ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">
                                            <div class="profile-info-name">วงเงินการใช้บัตรฟลีต การ์ด </div>

                                            <div class="profile-info-value align-middle">
                                                <span class="editable" ng-bind="asset.SFLEETCARDBUDGET"></span>
                                            </div>
                                        </div>

                                        <!--กำหนดการยกเลิกค่าเช่ารถ-->
                                        <div class="profile-info-row" ng-show="asset.BCRENTAL_CANCELDATE != '-'">
                                            <div class="profile-info-name">กำหนดการยกเลิกค่าเช่ารถ </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.BCRENTAL_CANCELDATE"></span>
                                            </div>
                                        </div>

                                        <!--หมายเหตุ-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">หมายเหตุ </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.REMARKS"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <!--รายละเอียดผู้ใช้รถ-->
                                    <h4 class="row header smaller lighter blue">
                                        <span class="col-sm-8">
                                            <i class="ace-icon fa fa-bookmark orange"></i>
                                            <span class="">รายละเอียดผู้ใช้รถ</span>
                                        </span><!-- /.col -->
                                    </h4>

                                    <div class="profile-user-info profile-user-info-striped">

                                        <!--ชื่อผู้ใช้รถ-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">ชื่อผู้ใช้รถ </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.DRVIERNAME"></span>
                                            </div>
                                        </div>

                                        <!--Cost Center-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Cost Center </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.COSTCENTER"></span>
                                            </div>
                                        </div>

                                        <!--แผนก-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">แผนก </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.DEPARTMENT"></span>
                                            </div>
                                        </div>

                                        <!--ตำแหน่ง-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">ตำแหน่ง </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.POSITION"></span>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="col-sm-6">

                                    <!--รายละเอียดการเช่า-->
                                    <h4 class="row header smaller lighter blue">
                                        <span class="col-sm-8">
                                            <i class="ace-icon fa fa-bookmark orange"></i>
                                            <span class="">รายละเอียดการเช่า</span>
                                        </span><!-- /.col -->
                                    </h4>

                                    <div class="profile-user-info profile-user-info-striped">

                                        <!--ระยะเวลาการเช่า-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">ระยะเวลาการเช่า </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.DISPLAY_RENTAL"></span>
                                            </div>
                                        </div>

                                        <!--วันที่เริ่มสัญญา-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">วันที่เริ่มสัญญา </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.BCRENTAL_EFFECTIVEDATE"></span>
                                            </div>
                                        </div>

                                        <!--วันที่สิ้นสุดสัญญา-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">วันที่สิ้นสุดสัญญา </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.BCRENTAL_EXPIREDATE"></span>
                                            </div>
                                        </div>

                                        <!--ค่าเช่าต่อเดือน-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">ค่าเช่าต่อเดือน </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.SRENTAMOUNT + ' (' + asset.SRENTTAXFLAG + ')'"></span>
                                            </div>
                                        </div>

                                        <!--เงินประกันการเช่า-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">เงินประกันการเช่า </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.SINSURANCECHARGEAMOUNT"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <!--รายละเอียดกรมธรรม์ประกันภัย-->
                                    <h4 class="row header smaller lighter blue" ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">
                                        <span class="col-sm-8">
                                            <i class="ace-icon fa fa-bookmark orange"></i>
                                            <span class="">รายละเอียดกรมธรรม์ประกันภัย</span>
                                        </span><!-- /.col -->
                                    </h4>

                                    <div class="profile-user-info profile-user-info-striped" ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">

                                        <!--บริษัทประกันภัย-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">บริษัทประกันภัย </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.INSURANCEBROKER"></span>
                                            </div>
                                        </div>

                                        <!--เลขที่กรมธรรม์-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">เลขที่กรมธรรม์ </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.INSURANCENUMBER"></span>
                                            </div>
                                        </div>

                                        <!--ระยะเวลาประกันภัย-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">ระยะเวลาประกันภัย </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.BCINSURANCE_EFFECTIVEDATE + ' - ' + asset.BCINSURANCE_EXPIREDATE"></span>
                                            </div>
                                        </div>

                                    </div>

                                    <!--รายละเอียดพ.ร.บ./ภาษีรถยนต์-->
                                    <h4 class="row header smaller lighter blue" ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">
                                        <span class="col-sm-8">
                                            <i class="ace-icon fa fa-bookmark orange"></i>
                                            <span class="">รายละเอียดพ.ร.บ./ภาษีรถยนต์</span>
                                        </span><!-- /.col -->
                                    </h4>

                                    <div class="profile-user-info profile-user-info-striped" ng-show="document.DOCUMENT_VEHICLERENTAL.VEHICLERENTALTYPEID > forkliftId">

                                        <!--ระยะเวลาพ.ร.บ.-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">ระยะเวลาพ.ร.บ. </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.BCCARACT_EFFECTIVEDATE + ' - ' + asset.BCCARACT_EXPIREDATE"></span>
                                            </div>
                                        </div>

                                        <!--ระยะเวลาภาษีรถยนต์-->
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">ระยะเวลาภาษีรถยนต์ </div>

                                            <div class="profile-info-value">
                                                <span class="editable" ng-bind="asset.BCVEHICLETAX_EFFECTIVEDATE + ' - ' + asset.BCVEHICLETAX_EXPIREDATE"></span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /section:elements.accordion -->
        </div><!-- /.col -->

        <div class="col-xs-12 padding-2">
            <h4 class="row header smaller lighter orange">
                <span class="col-sm-8">
                    <i class="ace-icon fa fa-bell"></i>
                    เอกสาร
                </span><!-- /.col -->
            </h4>

            <br />
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row" ng-repeat="file in files" track by $index>
                    <div class="profile-info-name" ng-bind="file.DOCFILETYPE"></div>
                    <div class="profile-info-name" style="width:200px; text-align:left" ng-bind-template="[ {{file.PATH}} ]"></div>
                    <div class="profile-info-name" style="width:200px; text-align:left" ng-bind-template="สร้างเอกสารเมื่อ {{file.BC_CREATEDATE}}"></div>
                    <button class="btn btn-xs btn-grey" style="border-radius:2px;margin:5px" ng-click="downloadDocumentFromServer(file, file.STORENAME, document.REQUEST.DOCTYPENAME)">
                        <i class="ace-icon fa  fa-cloud-download bigger-110"></i>
                        ดาวน์โหลด
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="space-12"></div>

    <form class="form-horizontal" role="form">
        <div class="space-12"></div>

        <!--ตั้งค่าการแจ้งเตือนล่วงหน้า-->
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">ตั้งค่าการแจ้งเตือนล่วงหน้า <span class="red">*</span></label>
            <div class="col-sm-1">
                <div class="input-group col-sm-12">
                    <input class="form-control" maxlength="2" ng-model="notice.NOTICENUMBER_PAYOUT" type="text" only-digits />
                </div>
            </div>
            <div class="col-sm-2">
                <select class="chosen-select form-control" id="NOTICEUNIT_PAYOUT" ng-model="notice.NOTICEUNIT_PAYOUT">
                    <option value="">โปรดเลือก</option>
                    <option value="DAY">วัน</option>
                    <option value="MONTH">เดือน</option>
                    <option value="YEAR">ปี</option>
                </select>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-sm btn-success pull-left" ng-click="setNotificationPayment(notice)">
                    <i class="ace-icon fa fa-save bigger-100"></i>
                    บันทึก
                </button>
            </div>
        </div>
    </form>

</div>
