<ul class="nav ace-nav">
    @*   <!-- Hidden Notification -->
        <li class="grey">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="ace-icon fa fa-tasks"></i>
                <span class="badge badge-grey">4</span>
            </a>

            <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
                <li class="dropdown-header">
                    <i class="ace-icon fa fa-check"></i>
                    4 Tasks to complete
                </li>

                <li class="dropdown-content">
                    <ul class="dropdown-menu dropdown-navbar">
                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">Software Update</span>
                                    <span class="pull-right">65%</span>
                                </div>

                                <div class="progress progress-mini">
                                    <div style="width: 65%" class="progress-bar"></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">Hardware Upgrade</span>
                                    <span class="pull-right">35%</span>
                                </div>

                                <div class="progress progress-mini">
                                    <div style="width: 35%" class="progress-bar progress-bar-danger"></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">Unit Testing</span>
                                    <span class="pull-right">15%</span>
                                </div>

                                <div class="progress progress-mini">
                                    <div style="width: 15%" class="progress-bar progress-bar-warning"></div>
                                </div>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <div class="clearfix">
                                    <span class="pull-left">Bug Fixes</span>
                                    <span class="pull-right">90%</span>
                                </div>

                                <div class="progress progress-mini progress-striped active">
                                    <div style="width: 90%" class="progress-bar progress-bar-success"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown-footer">
                    <a href="#">See tasks with details
                            <i class="ace-icon fa fa-arrow-right"></i>
                    </a>
                </li>
            </ul>
        </li>
    *@


    <!-- Notification
    <li class="grey" ng-controller="NotificationCtrl">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
            <span class="badge badge-important">{{notiCount}}</span>
        </a>

        <ul class="dropdown-menu-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
                <i class="ace-icon fa fa-envelope-o"></i>
                {{notiCount}} Messages
            </li>


            <li class="dropdown-content">
                <ul class="dropdown-menu dropdown-navbar">
                    <li ng-repeat="noti in notis | orderBy: '-date'">
                        <a href="#">
                            <div class="clearfix">
                                <span class="msg-title">
                                    <span class="blue">{{noti.user}}</span>
                                    {{noti.req}}
                                </span>

                                <span class="msg-time">
                                    <i class="ace-icon fa fa-clock-o"></i>
                                    <span>{{noti.date}}</span>
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>

            @*<li class="dropdown-content">
                <ul class="dropdown-menu dropdown-navbar">
                    <li>
                        <a href="#">
                            <div class="clearfix">
                                <span class="msg-title">
                                    <span class="blue">Alex:</span>
                                    Ciao sociis natoque penatibus et auctor ...
                                </span>

                                <span class="msg-time">
                                    <i class="ace-icon fa fa-clock-o"></i>
                                    <span>a moment ago</span>
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>*@

            <li class="dropdown-footer">
                <a href="inbox.html">See all messages
                        <i class="ace-icon fa fa-arrow-right"></i>
                </a>
            </li>
        </ul>
    </li>
    -->
    <!-- #section:basics/navbar.user_menu -->
    <li class="light-blue" ng-controller="UserSettingCtrl">
        <input type="hidden" id="culture" value='@Session["Culture"]' />
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
            @*<img class="nav-user-photo" src="../assets/avatars/user.jpg" />*@
    
            <span class="user-info">
                <small ng-bind-template="{{user.USERCLASSTEXT}},"></small>
                <label ng-show="showName('@Session["Culture"]','en')" ng-bind="user.NAME_EN"></label>
                <label ng-show="showName('@Session["Culture"]','th')" ng-bind="user.NAME_TH"></label>
            </span>
            <i class="ace-icon fa fa-caret-down"></i>
        </a>

        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            @*<li>
                    <a href="#">
                        <i class="ace-icon fa fa-cog"></i>
                        Settings
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="ace-icon fa fa-user"></i>
                        Profile
                    </a>
                </li>

                <li class="divider"></li>*@

            <li ng-click="logout()">
                <a href="#">
                    <i class="ace-icon fa fa-power-off"></i>
                    Logout
                </a>
            </li>
        </ul>
    </li>

    <!-- /section:basics/navbar.user_menu -->
</ul>
