<br />
<br />
<ul class="list-unstyled">
    <li class="">
        <i class="ace-icon fa fa-circle"></i>
        ตั้งค่าแจ้งเตือนแล้ว
    </li>
    <li class="red">
        <i class="ace-icon fa fa-circle"></i>
        ไม่ได้ตั้งค่าแจ้งเตือน
    </li>
</ul>


